*{
    box-sizing: border-box;
}
body {
    font-family: 'Rakkas';
    font-size: 10px;
    margin: 0;
}

/****** start nav ******/
nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 15%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    width:100%;
    box-shadow: 0.1em 0.1em 0.5em black;
    vertical-align: middle;
}
nav ul{
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align:top;
    width: 100%;
}
nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 1%;
    
}
nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
nav ul li img {
    width: 4.8em;
    height: 4.8em;

}
/****** end nav ******/

/****** start header ******/
header { /* Header Image with all properities */
    background: url('../images/background.png') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 768px;
    position: relative;
}
/****** end header ******/